<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesta Game Test Task</title>
      <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  </head>
  <body>
    <main class="text-center py-5">
        <header > Загрузка файлов </header>
        <br><br>
        <form action="/uploadfile" method="post" enctype="multipart/form-data">
            <input name="file" type="file" class="btn btn-primary" required><br>
            <p>Принимаются только файлы формата .txt</p>
            <input type="submit" class="btn btn-success mt-3">
        </form>
    </main>
  </body>
</html>