{% extends "base.html" %}
{% block title %}Результаты анализа{% endblock %}
{% block navbar_title %}Результаты анализа{% endblock %}

{% block content %}
<div class="container wide-container">
    <table class="styled-table full-width">
        <thead>
            <tr>
                <th>Слово</th>
                <th>tf</th>
                <th>idf</th>
            </tr>
        </thead>
        <tbody>
            {% for word, idf_value in words %}
                <tr>
                    <td>{{ word }}</td>
                    <td>{{ tf[word] }}</td>
                    <td>{{ idf_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
