<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результаты анализа</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="navbar">
    <div>Результаты анализа</div>
    <div>
        <a href="/">Загрузить другой файл</a>
        <a href="/auth/logout">Выйти</a>
    </div>
</div>

<div class="container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Слово</th>
                <th>tf</th>
                <th>idf</th>
            </tr>
        </thead>
        <tbody>
            {% for word, idf_value in words %}
                <tr>
                    <td>{{ word }}</td>
                    <td>{{ tf[word] }}</td>
                    <td>{{ idf_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
